[mysqld]
character-set-server=utf8mb4
default-time-zone='+08:00'
innodb_rollback_on_timeout='ON'
max_connections=500
innodb_lock_wait_timeout=500

# 修复 IP address 'xxxx' could not be resolved: Name or service not known 问题
skip-name-resolve